<div class="row">
    <div class="col-6"></div>
    <div class="col-6 text-center p-5" >
        <h1 class="text-primary">Netbanking with <span class="text-warning">SBI</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aperiam excepturi, enim modi illo
            exercitationem omnis facere nisi expedita natus officia temporibus officiis eveniet atque? Nam doloremque
            aspernatur assumenda cumque!</p>
            <img class="w-100 mt-5 p-5" src="https://i.postimg.cc/d3CffPhv/360-F-61062796-NF87-GPn-WV0f-Q2-Lho-YNlyjev0-Poc-Rw-Zj9.jpg" alt="">
    </div>

</div>