<div class="row">
    <div class="col-6 mt-5">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-circle-info"></i> Account Details</button>
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-person-walking-arrow-right"></i> Logout</button>
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-indian-rupee-sign"></i> Check Balance</button>
            <button class="btn btn-primary" type="button"><i class="fa-regular fa-user"></i> View Profile</button>
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-money-bill-transfer"></i> Transfer Money</button>
            <button class="btn btn-primary" type="button"><i class="fa-solid fa-trash"></i> Delete Account</button>
          </div>
    </div>
    <div class="col-6 text-center p-4" >
        <h1 class="text-primary">Netbanking with <span class="text-warning">SBI</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aperiam excepturi, enim modi illo
            exercitationem omnis facere nisi expedita natus officia temporibus officiis eveniet atque? Nam doloremque
            aspernatur assumenda cumque!</p>
            <img class="w-100 mt-5 p-5" src="https://i.postimg.cc/d3CffPhv/360-F-61062796-NF87-GPn-WV0f-Q2-Lho-YNlyjev0-Poc-Rw-Zj9.jpg" alt="">
    </div>

</div>