<div class="container text-center bg-light border bg-dark col-5 mt-5 ms- ">
        <h1 class="text-white mt-2 mb-2">ABC Bank(Sign Up)</h1>
        
    
        <form action="">
            <input id="" type="text" placeholder="Enter ACC No" class="form-control mt-2  p-2 ">
            <input id="" type="text" placeholder="Enter Username" class="form-control mt-2 p-2">
            <input id="" type="password" placeholder="Enter Password" class="form-control mt-2 p-2">
            <input id="" type="password" placeholder="Confirm Password" class="form-control mt-2 p-2">
            <button type="submit" class="btn btn-light w-50 p-2 mt-4 mb-3">Signup</button><br>
               
        </form>
    
    </div>
